main {
    background-image: url(./images/stars.jpg);
    background-repeat: repeat-y;
    background-size: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;

}

header {
    display: flex;
    justify-content: center;

}

button {
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 5px;
    
}